@model SevensPizzaEntity.Pizza

@{
    ViewData["Title"] = "Custom Pizza";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action=@((ViewBag.type == "create")?"Custom":"Update")>
            <input type="hidden" name="oldQuantity" value="@Model.Quantity" />
            <input asp-for="PizzaID" type="hidden" />
            <input asp-for="OrderID" type="hidden" />
            <input asp-for="Price" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- First page-->
            <div class="form-group border open ">
                <h1 class="header">Size and Curst</h1>
                <hr />
                <!-- amount of pizza-->
                <label asp-for="Quantity" class="control-label"></label> <br />
                <input asp-for="Quantity" min="1" max="50" class="formInput" onkeypress="IntOnly(event)" /> <br />
                <span asp-validation-for="Quantity" class="text-danger"></span>

                <!-- the size of pizza-->
                <label asp-for="Size" class="control-label"></label> <br />
                <input type="radio" asp-for="Size" value="Small" /><label class="option">Small</label>
                <input type="radio" asp-for="Size" value="Medium" /><label class="option">Medium</label>
                <input type="radio" asp-for="Size" value="Large" /><label class="option">Large</label>
                <input type="radio" asp-for="Size" value="Extra Large" /><label class="option">Extra Large</label> <br />
                <span asp-validation-for="Size" class="text-danger"></span>

                <!-- the style of pizza-->
                <label asp-for="CrustStyle" class="control-label"></label> <br />
                <input type="radio" asp-for="CrustStyle" value="Original" /><label class="option">Original</label>
                <input type="radio" asp-for="CrustStyle" value="Thin" /><label class="option">Thin</label> <br />
                <span asp-validation-for="CrustStyle" class="text-danger"></span>

                <!-- the Sauce of pizza-->
                <label asp-for="Sauce" class="control-label"></label> <br />
                <input type="radio" asp-for="Sauce" value="Tomato" /><label class="option">Tomato</label>
                <input type="radio" asp-for="Sauce" value="BBQ" /><label class="option">BBQ</label>
                <input type="radio" asp-for="Sauce" value="Alfrodo Sauce" /><label class="option">Alfrodo Sauce</label>
                <input type="radio" asp-for="Sauce" value="Ranch" /><label class="option">Ranch</label>
                <input type="radio" asp-for="Sauce" value="Bufflo" /><label class="option">Bufflo</label> <br />
                <span asp-validation-for="Size" class="text-danger"></span>

                <!-- the Amount of saurce-->
                <label asp-for="SauceAmount" class="control-label"></label> <br />
                <input type="radio" asp-for="SauceAmount" value="Normal" /><label class="option">Normal</label>
                <input type="radio" asp-for="SauceAmount" value="Light" /><label class="option">Light</label>
                <input type="radio" asp-for="SauceAmount" value="Extra" /><label class="option">Extra</label>
                <input type="radio" asp-for="SauceAmount" value="None" /><label class="option">None</label> <br />
                <span asp-validation-for="SauceAmount" class="text-danger"></span>

                <!-- the Amount of cheese-->
                <label asp-for="CheeseAmount" class="control-label"></label> <br />
                <input type="radio" asp-for="CheeseAmount" value="Normal" /><label class="option">Normal</label>
                <input type="radio" asp-for="CheeseAmount" value="Light" /><label class="option">Light</label>
                <input type="radio" asp-for="CheeseAmount" value="None" /><label class="option">None</label> <br />
                <span asp-validation-for="CheeseAmount" class="text-danger"></span>
                <button type="button" class="next btn btn-default">Next</button>
            </div>

            <!-- Second Page-->
            <div class="form-group border">

                <h1 class="header"><label asp-for="Meats" class="control-label"></label></h1>
                @for (int i = 0; i < Model.Meats.Count; i++)
                {
                    <input type="checkbox" asp-for="@Model.Meats[i].IsSelected" />
                    <input type="hidden" asp-for="@Model.Meats[i].Name" />
                    <input type="hidden" asp-for="@Model.Meats[i].Price" />
                    <div class="topping">
                        <img src="~/images/topping/@(Model.Meats[i].Name).jpg" alt="@Model.Meats[i].Name" />
                        <span class="product">@Model.Meats[i].Name  $@Model.Meats[i].Price</span>
                    </div>

                    if ((i + 1) % 3 == 0)
                    {
                        <br />
                    }

                }
                <br />
                <span asp-validation-for="Meats" class="text-danger"></span>
                <button type="button" class="preivous btn btn-default">Previous</button>
                <button type="button" class="next btn btn-default">Next</button>
            </div>

            <!-- Third Page-->
            <div class="form-group border">

                <h1 class="header"><label asp-for="Veggies" class="control-label"></label></h1>
                @for (int i = 0; i < Model.Veggies.Count; i++)
                {
                    <input type="checkbox" asp-for="@Model.Veggies[i].IsSelected" />
                    <input type="hidden" asp-for="@Model.Veggies[i].Name" />
                    <input type="hidden" asp-for="@Model.Veggies[i].Price" />
                    <div class="topping">
                        <img src="~/images/topping/@(Model.Veggies[i].Name).jpg" alt="@Model.Veggies[i].Name" />
                        <span class="product">@Model.Veggies[i].Name  $@Model.Veggies[i].Price</span>
                    </div>
                    if ((i + 1) % 3 == 0)
                    {
                        <br />
                    }

                }
                <span asp-validation-for="Veggies" class="text-danger"></span>
                <br />
                <button type="button" class="preivous btn btn-default">Previous</button>
                <button type="submit" class="btn btn-default">Add to Cart</button>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>